.announce {
    background-color: #2c3333;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .announcearea {
    text-align: left;
    width: 40rem;
    height: 25rem;
  }
  
  .announcemsg {
    position: relative;
    top: 1.75rem;
    font-family: semibold;
    color: white;
    font-size: 0.8rem;
    opacity: 0.7;
  }
  
  .announcetitle {
    font-family: semibold;
    color: white;
    font-size: 2.4rem;
  }
  
  .announceinput1 {
    position: relative;
    background-color: #395B64;
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
  }

  .announceinputmid {
    position: relative;
    top: 0.75rem;
    background-color: #395B64;
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
  }
  
  .announceinput2 {
    text-align: left;
    position: relative;
    top: 1.5rem;
    background-color: #395B64;
    height: 12rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
  }
  
  .announcebuttons {
    position: relative;
    top: 4rem;
    background-color: #F47458;
    height: 2.5rem;
    width: 40%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
    margin-bottom: 5rem;
  }
  
  @font-face {
    font-family: "SemiBold";
    src: local("Poppins-SemiBold"),
      url("../../../fonts/Poppins-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Regular";
    src: local("Poppins-Regular"),
      url("../../../fonts/Poppins-Regular.ttf") format("truetype");
  }