.homepage {
    background-color: #2c3333;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .homepagearea {
    text-align: left;
    width: 25rem;
    height: 25rem;
  }
  
  .homepagemsg {
    position: relative;
    top: 1.75rem;
    font-family: semibold;
    color: white;
    font-size: 0.8rem;
    opacity: 0.7;
  }
  
  .homepagetitle {
    font-family: semibold;
    color: white;
    font-size: 2.4rem;
  }
  
  .homepageinput1 {
    position: relative;
    background-color: #395B64;
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
  }
  
  .homepagebuttons {
    position: relative;
    top: 2rem;
    background-color: #F47458;
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
    margin-bottom: 5rem;
  }

  .orderTabs {
    position: relative;
    top: 2rem;
    background-color: #F47458;
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.15rem;
    font-family: semibold;
    margin-bottom: 5rem;
  }

  .Card {
    margin-top: 150px;
    display: flex;
    gap: 5px;
  }
  
  @font-face {
    font-family: "SemiBold";
    src: local("Poppins-SemiBold"),
      url("../../../fonts/Poppins-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Regular";
    src: local("Poppins-Regular"),
      url("../../../fonts/Poppins-Regular.ttf") format("truetype");
  }