.login {
  display: flex;
  background-color: #2c3333;
  background-image: url('../../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.area {
  text-align: left;
  width: 20rem;
  height: 25rem;
  margin-top: 0rem;
  margin-left: 0rem;
}

.loginmsg {
  position: relative;
  top: 1.75rem;
  font-family: semibold;
  color: white;
  font-size: 0.8rem;
  opacity: 0.7;
}

.logintitle {
  font-family: semibold;
  color: white;
  font-size: 2.4rem;
}

.logininput1 {
  padding-left: 0.5rem;
  position: relative;
  background-color: #395B64;
  height: 2.5rem;
  width: 19.75rem;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.15rem;
  font-family: semibold;
}

.logininput2 {
  padding-left: 0.5rem;
  position: relative;
  top: 0.75rem;
  background-color: #395B64;
  height: 2.5rem;
  width: 19.75rem;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.15rem;
  font-family: semibold;
}

.loginbuttons {
  position: relative;
  top: 2rem;
  background-color: #F47458;
  height: 2.5rem;
  width: 20.25rem;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.15rem;
  font-family: semibold;
}

.loginbottom1 {
  position: relative;
  top: 2rem;
  float: right;
  font-family: Regular;
  color: white;
  font-size: 0.8rem;
}

.loginbottom2 {
  float: right;
  font-family: Regular;
  color: white;
  font-size: 0.8rem;
}

@font-face {
  font-family: "SemiBold";
  src: local("Poppins-SemiBold"),
    url("../../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"),
    url("../../fonts/Poppins-Regular.ttf") format("truetype");
}